@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Ephesis&family=Fira+Mono:wght@400;500&family=IM+Fell+English&family=Josefin+Sans:ital,wght@0,400;1,300&family=Kaisei+HarunoUmi:wght@700&family=Lora:ital,wght@1,500&family=Mulish:wght@200;700;1000&family=Open+Sans&family=Raleway:wght@300&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,100&family=Satisfy&display=swap');

*{
    margin : 0px;
    padding : 0px;
    font-family: 'Roboto Mono';
}